div.topbar
  .fill
    .container
      a(class='brand', href='#') SODA Experiment
      ul.nav
        li.active: a(href='#') Home
        li: a(href='#about') About
        li: a(href='#contact') Contact
      form(action='', class='pull-right')
        input(class='input-small', type='text', placeholder='Username')
        input(class='input-small', type='password', placeholder='Password')
        //button(class='btn', type='submit') Sign In

.container
  .content
    .page-header
      h1 Page name
    .row
      .span10
        h2 Main Content
      .span4
        h3 Secondary Content
        
  footer
    p SinDesign 2011